@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', serif;
  font-size: 130%;
}

i.pop  {
        quotes: "“" "”" "‘" "’";
}      

i.pop::before {
        content: open-quote;
}

i.pop::after {
        content: close-quote;
}

footer {
        border-top: 1px dotted black;
        padding-top: 1em;
}

h1 {
    border-bottom: 0.1em solid black;
    
}

label {
        font-family: 'Fira Sans', sans-serif;
}

meter, input[type=range]  {
        width:400px;
        border:1px solid green;
        padding:5px;
        margin: 4px;
}
menu,
ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 400px;
}

li {
  flex-grow: 1;
}

summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
    }
    
    details[open] {
        padding: 0.5em;
    }
    
    details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: 0.5em;
    }